<div class="ui horizontal list">
  <div class="item">
    <div class="ui labeled input">
      <div class="ui label">Név</div>
      <input class="narrow-input" type="text" name="free-time-name" [(ngModel)]="name">
    </div>
  </div>
  <div class="item">
    <div class="ui labeled input">
      <div class="ui label">Nap</div>
      <sui-select class="selection narrow-input" [(ngModel)]="selectedDay" [options]="dayOptions" labelField="name" valueField="day" placeholder=" " #select>
        <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option"></sui-select-option>
      </sui-select>
    </div>
  </div>
  <div class="item">
    <div class="ui labeled input">
      <div class="ui label">Kezdet</div>
        <div class="ui left icon input">
          <i class="calendar icon"></i>
          <input class="narrow-input" suiDatepicker name="free-time-start" [(ngModel)]="startDate" pickerMode="time" [pickerUseNativeOnMobile]="false">
        </div>
    </div>
  </div>
  <div class="item">
    <div class="ui labeled input">
      <div class="ui label">Vég</div>
        <div class="ui left icon input">
          <i class="calendar icon"></i>
          <input class="narrow-input" suiDatepicker name="free-time-end" [(ngModel)]="endDate" pickerMode="time" [pickerUseNativeOnMobile]="false">
        </div>
    </div>
  </div>
  <div class="item">
    <button class="ui button" suiPopup popupText="Hiányzó adatok!" popupTrigger="manual" #popup="suiPopup" (click)="addFreeTime(popup)">Hozzáadás</button>
  </div>
</div>
