<div class="extra-conditions-container">
  <div class="extra-conditions-header">
    Extra feltételek
  </div>
  <div class="extra-conditions-content">
    <div class="ui list">
      <div class="item">
        <app-markmyprofessor-rating-settings></app-markmyprofessor-rating-settings>
      </div>
      <div class="item">
        <app-free-time-settings></app-free-time-settings>
      </div>
      <div class="item">
        <app-earliest-start-settings></app-earliest-start-settings>
      </div>
      <div class="item">
        <app-latest-end-settings></app-latest-end-settings>
      </div>
    </div>
  </div>
</div>
