<div class="optimal-timetables-content">
  <button class="ui button" (click)="generateTimetables()">Összes optimális órarend előállítása</button>
</div>
<div class="optimal-timetables-container">
  <div class="optimal-timetables-header">
    Optimális órarendek
  </div>
  <div class="optimal-timetables-content">
    <div class="ui list">
      <div class="item">
        <app-timetable [timetable]="selectedTimetable"></app-timetable>
      </div>
      <div class="item">
        <app-timetable-paginator
          [currentPage]="timetables.indexOf(selectedTimetable)"
          [numberOfPages]="timetables.length"
          (next)="next($event)"
          (previous)="previous($event)">
        </app-timetable-paginator>
      </div>
    </div>
  </div>
</div>
