table {
    width: 100%;
    border-spacing: 0;
}

thead, tbody, tr, th, td {
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 150px;
    overflow-y: overlay;
    overflow-x: hidden;
}

tbody td, thead th {
    width: 20%;
    float: left;
}
