<div class="header">
  <div class="title">
    <strong style="font-size: larger;">TARDIS {{selectedFaculty}}</strong>
    <strong style="font-size: smaller">Optimális órarend készítő</strong>
  </div>
  <div>
    <div class="ui breadcrumb">
      <div style="cursor: pointer"
           *ngFor="let faculty of faculties"
           [ngClass]="selectedFaculty === faculty ? 'active section' : 'section'"
           (click)="onFacultySelect(faculty)">
        {{faculty}}
        <div class="divider" *ngIf="faculty !== faculties[faculties.length -1]"> /</div>
      </div>
    </div>
  </div>
</div>
