<table>
    <thead>
            <tr>
                    <td>Kurzusnév</td>
                    <td>Kurzuskód</td>
                    <td>Időpont</td>
                    <td>Óratípus</td>
                    <td>Oktató</td>
                    <td>Ütközhet</td>
                </tr>
    </thead>
    <tbody *ngFor="let subject of subjects">
        <tr>
            <td>{{ subject.courseName }}</td>
            <td>{{ subject.courseCode }}</td>
            <td>{{ subject.time }}</td>
            <td>{{ subject.courseType }}</td>
            <td>{{ subject.professor }}</td>
            <td>
                <input [ngModel]="checkbox" type="checkbox" value="{{ subject.conflict }}" (ngModelChange)="addToConflicts(subject)">
            </td>
            <td>
                    <button class="btn btn-primary" (click)="(deleteSubjectFromAddTable(subject))">Töröl</button>
                </td>
        </tr>
    </tbody>
</table>




